# Project Step 3
### Date: 03/07/2024

##### Maneesh Gandra
##### Vinaya Madhulikha Polisetti 
##### Ruthvik Reddy Aileni

In [1]:
import pandas as pd

dt = pd.read_csv('dataset.csv')

print("Before cleaning: ",dt.shape)

Before cleaning:  (346, 19)

### Step 1:

In [2]:

missing_col = dt.isnull().sum()
missing_row = dt.isnull().sum(axis=1)

print("Missing values per column:\n")
print(missing_col)
print("\nMissing values per row:\n")
print(missing_row)

Missing values per column:

School                                    0
City                                      0
Zip Code                                  0
2023 Student Enrollments                 41
AZ Rank                                 182
Student Teacher Ratio                   134
Graduation Rate%                        155
Dual Enrollment                           7
Offers Electives                          8
Free Lunch (%)                          168
Mental Health Services                    6
Racial %   White                         63
Racial %   Asian                         92
Racial %   Hispanic                      59
Gender   Male                           103
Gender   Female                         103
AP Classes                               13
School Grade                            116
Inexperienced Core Acadamic Teachers     56
dtype: int64

Missing values per row:

0      2
1      2
2      5
3      0
4      4
      ..
341    3
342    0
343    1
344    2
345    3
Length: 346, dtype: int64

In [3]:
# Drop columns with a high number of missing values
cols_drop = ['AZ Rank', 'Student Teacher Ratio', 'Graduation Rate%', 'Free Lunch (%)']
dt_cleaned = dt.drop(columns = cols_drop)

# Drop rows with missing values 
dt_cleaned = dt_cleaned.dropna()

print("After removing null values:",dt_cleaned.shape)

After removing null values: (166, 15)

### Step 2:

In [4]:

dups = dt_cleaned.duplicated(subset=['School', 'Zip Code'], keep='first')

print("Number of rows with Duplicates:", dups.sum())

dt_cleaned.drop_duplicates(subset=['School', 'Zip Code'], inplace=True)
print("After removing duplicates",dt_cleaned.shape)

Number of rows with Duplicates: 0
After removing duplicates (166, 15)

### Step 3:

In [5]:
numeric_cols = dt_cleaned.select_dtypes(include='number').columns
dt_cleaned[numeric_cols] = dt_cleaned[numeric_cols].replace({'\$': '', '%': ''}, regex=True)

In [6]:
dt_cleaned['AP Classes'] = dt_cleaned['AP Classes'].str.upper().str.strip()
dt_cleaned['Dual Enrollment'] = dt_cleaned['Dual Enrollment'].str.upper().str.strip()
dt_cleaned['Offers Electives'] = dt_cleaned['Offers Electives'].str.upper().str.strip()

In [7]:
# transforming ordinal data: School Grade

print(dt_cleaned['School Grade'].unique().tolist())

grd = {
    'A+':8,
    'A':7,
    'B+':6,
    'B':5,
    'C+':4,
    'C':3,
    'D+':2,
    'D':1,
}

dt_cleaned['School Grade'] = dt_cleaned['School Grade'].map(grd)

['A', 'B', 'C', 'D', 'A+', 'C+', 'C ', 'D ', 'B ', 'B+', 'D+', 'A ']

In [8]:
#Transforming categorical variables

cts = ['School','City','Dual Enrollment','Offers Electives', 'Mental Health Services','AP Classes'] 

for ct in cts:
    if ct in ['School','City']:
        a = pd.get_dummies(dt_cleaned[ct], dtype=int)
    else:
        a = pd.get_dummies(dt_cleaned[ct], prefix=ct, dtype=int)
    dt_cleaned = pd.concat([dt_cleaned,a], axis=1)

dt_cleaned = dt_cleaned.drop(columns = cts)

In [9]:
dt_cleaned.head()

,Zip Code,2023 Student Enrollments,Racial % White,Racial % Asian,Racial % Hispanic,Gender Male,Gender Female,School Grade,Inexperienced Core Acadamic Teachers,Aaec Smcc Campus,...,Peoria. AZ,"Phoenix,AZ",Dual Enrollment_NO,Dual Enrollment_YES,Offers Electives_NO,Offers Electives_YES,Mental Health Services_False,Mental Health Services_True,AP Classes_NO,AP Classes_YES
1,85086,196,66.86,8.36,15.26,467.0,559.0,7.0,25.0,0,...,0,0,0,1,0,1,0,1,0,1
3,85323,1608,12.16,1.88,71.69,805.0,822.0,5.0,14.0,0,...,0,0,0,1,0,1,0,1,0,1
17,85338,1715,40.72,1.94,46.55,1058.0,912.0,7.0,5.0,0,...,0,0,0,1,0,1,1,0,0,1
22,85338,1225,41.09,31.98,14.66,1051.0,969.0,7.0,8.0,0,...,0,0,0,1,0,1,1,0,0,1
24,85338,2420,59.89,10.98,17.48,1505.0,1371.0,7.0,11.0,0,...,0,0,0,1,0,1,1,0,0,1

In [10]:
# Export cleaned and transformed data to a new CSV file
dt_cleaned.to_csv('cleaned_transformed_data.csv', index=False)

# Print final data size and dimensions
print("Final data set size:", dt_cleaned.shape)

Final data set size: (166, 194)